<div class="confirmation-container">
    <div class="confirmation-items">
        <div class="confirmation-header">
Success
        </div>

        <div class="confirmation-item">
            Thank You <b>{{name}} </b> 
        </div>
        <div class="confirmation-item">
            Your <b> {{price | currency}}</b> order is confirmed!
        </div>
        <div class="confirmation-item">
            Please allow 1-3 business day(s) for shipping
        </div>
        <div class="confirmation-item">
            <button class="btn" (click)="returnUrl()">Back to product list</button>
        </div>


    </div>

</div>
